#webformcontact {
    background: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(0, 0, 0, 0.4)
    ),
    url("/sites/all/themes/weathered_notebooks/bkg-images/Contact_Backdrop.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    padding: 40px 60px;
    margin-top: 60px;
    h2 {
        font-size: 2.5em;
        margin-top: 0;
        margin-bottom: 20px;
    }
    .webform-client-form {
        @include zen-grid-container;
        $zen-column-count: 2 !global;
        .form-text {
            width: 80%;
        }
        .form-textarea {
            width: 90%;
        }
        .form-text, .form-textarea{
            margin: auto;
            display: block;
        }
        .webform-component--name {
            @include zen-grid-item(1, 1);
        }
        .webform-component--email {
            @include zen-grid-item(1, 2);
        }
        .webform-component--message {
            @include zen-clear();
            @include zen-grid-item(2, 1);
        }
        .form-actions {
            @include zen-clear();
            @include zen-grid-item(2, 1);
            input {
                float: right;
                clear: both;
                margin-right: 5%;
            }
        }
    }
}
