#gallery {
    .flexslider {
        display: block;
        width: 100%;
        margin-bottom: 60px;
        border: 0;
    }
    .flex-control-nav {
        bottom: 15px;
        z-index: 2000;
        .flex-active {
            background: rgba(255, 255, 255, 0.8);
        }
    }
    clear: both;
}
