#footer {
    padding: 0;
    background-color: $gray;
    color: white;
    $zen-column-count: 2 !global;
    @include zen-grid-container();

    .block.first {
        @include zen-grid-item(1, 1);
        font-family: $font-body;
        font-size: .9em;
        p {
            margin: 20px;
        }
    }
    .block.last {
        @include zen-grid-item(1, 2);
        img {
            float: right;
            width: 30px;
            height: 30px;
            margin: 20px;
        }
    }
}
