/**
* Collect all partials for theme A
**/

@import "variables.scss";

@import "flexbox.scss";

@import "single-page.scss";
@import "menu.scss";
@import "call-to-action.scss";
@import "about.scss";
@import "video.scss";
@import "subscribe.scss";
@import "flex-slider.scss";
@import "shop.scss";
@import "contact.scss";
@import "cart.scss";
@import "footer.scss";
@import "not-front.scss";

body {
    background-color: $beige;
    padding: 0;
}
input, textarea {
    background-color: transparent;
    color: white;
    border: 3px solid white;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 1.2em;
    outline: none;
    &::-webkit-input-placeholder {
        color: white;
    }
    &:-moz-placeholder { /* Firefox 18- */
       color: white;
    }
    &::-moz-placeholder {  /* Firefox 19+ */
       color: white;
    }
    &:-ms-input-placeholder {
       color: white;
    }
    &:placeholder-shown {
        color: white;
    }
}
input.webform-submit {
    background-color: $transWhite;
    &:hover {
        background-color: $semiTransWhite;
    }
}
a {
    outline: none;
}
#page {
    max-width: 100%;
    .column {
        padding: 0;
    }
}
#main {
    padding: 0;
}
.menu-margin-needed {
    margin-top: 48px;
}
#content.not-front {
    padding: 20px 60px;
}
