/**
* Collect all partials for theme A
**/

@import "variables.scss";

@import "single-page.scss";
@import "menu.scss";
@import "call-to-action.scss";

body {
    background-color: $beige;
    padding: 0;
}
#page {
    max-width: 100%;
    .column {
        padding: 0;
    }
}
#main {
    padding: 0;
}
