#main-menu {
    @include flexbox;
    @include justify-content(space-between);
    background-color: $darkGray;
    z-index: 601;
    .logo {
        width: 48px;
        height: 48px;
        margin-left: 12px;
        svg{
            width: 100%;
            height: 100%;
            stroke: white;
            fill: white;
            line {
                stroke: white;
            }
            &:hover {
                stroke: black;
                fill: black;
                line {
                    stroke: black;
                }
            }
        }
    }
    ul {
        margin: 0;
        margin: 12px 0;
        @include flexbox;
        @include justify-content(flex-end);
        li {
            @include flexbox;
            margin-left: 15px;
            a {
                color: white;
                text-decoration: none;
                font-size: 25px;
                text-transform: uppercase;
                font-family: $font-body;
                font-weight: 500;
                &.active {
                    // color: $gray;
                }
                &:hover {
                    color: black;
                }
            }
        }
    }
}
.fixed {
    position: fixed;
    width: 100%;
    top: 0;
}
