#content.not-front {
    min-height: 100vh;
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/sites/all/themes/weathered_notebooks/bkg-images/About_Backdrop.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

    tr {
        font-family: $font-body;
        border: none;
        &.odd {
            background-color: $transDarkGray;
        }
        &.even {
            background-color: $transGray;
        }
        th {
            font-family: $base-font-family;
        }
        td {
            padding: 10px 20px;
        }
    }
    .form-wrapper {
        background-color: $transDarkGray;
        &.checkout_review {
            background-color: transparent;
        }
        tr {
            background-color: none;
        }
    }
    .checkout-continue {
        margin-right: 15px;
    }
    .commerce-line-item-actions {
        background-color: transparent;
        input {
            margin-left: 20px;
            margin-bottom: 10px;
        }
    }
    .commerce-line-item-views-form {
        th {
            padding: 0;
            text-align: center;
        }
    }
    .views-field-edit-quantity {
        input {
            padding: 2px 5px;
        }
    }
}
