#cboxWrapper {
}
.product-modal {
    @include flexbox;
    .product-img-modal {
        width: 50%;
        margin: 5px 10px;
        max-height: 70%;
        img {
            box-shadow: 5px 5px 20px black;
        }
    }
    .product-purchase-modal {
        width: 50%;
        margin: 0 10px;
        @include flexbox;
        @include flex-direction(column);
        @include justify-content(space-between);
        text-align: left;
        .product-header-modal  {

            .product-title-modal {
                font-size: 2em;
                margin: 0;
            }
            .product-price-modal {
                color: $darkGray;
            }
        }
        .product-desc-modal, .product-note-modal, .product-price-modal {
            font-family: $font-body;
        }
        input {
            color: $darkGray;
            border-color: black;
            margin: 0 !important;
        }
        .commerce-add-to-cart {
            text-align: center;
        }
        .ui-spinner {
            display: none;
        }

    }
}
@media (max-width: $breakpoint-tablet) {
    .product-modal {
        @include flex-wrap(wrap);
        .product-img-modal, .product-purchase-modal {
            width: 100%;
        }
    }
}
@media (max-width: $breakpoint-mobileLP) {
    .product-modal {
        .product-purchase-modal .product-header-modal .product-title-modal {
            font-size: 1.5em;
        }
    }
}
