#shop {
    overflow: hidden;
    .view-content {
        margin: 0 60px;
        overflow: hidden;
        margin-bottom: 40px;
        .views-row {
            float: left;
            position: relative;
            display: block;
            .product-img {
                display: block;
                margin: 0 10px;
                img {
                    display: block;
                }
            }
            .product-info {
                position: absolute;
                bottom: 0;
                div {
                    display: block;
                    margin: auto;
                }
            }
        }
        .views-row-1, .views-row-2{
            width: 30%;
        }
        .views-row-3, .views-row-4{
            width: 20%
        }
        .views-row-5 {
            width: 40%;
            clear: right;
            .product-img {
                display: block;
            }
        }
    }
}
