#shop {
    overflow: hidden;
    padding-top: 60px;
    .view-content {
        margin: 0 60px;
        overflow: hidden;
        margin-bottom: 40px;
        .views-row {
            float: left;
            position: relative;
            display: block;
            .product-img {
                display: block;
                margin: 0 10px;
                img {
                    display: block;
                    position: relative;
                    opacity: 0.7;
                    transition: opacity .3s ease-out;
                    -moz-transition: opacity .3s ease-out;
                    -webkit-transition: opacity .3s ease-out;
                    -o-transition: opacity .3s ease-out;
                    &:hover {
                        opacity: 1;
                    }
                }
            }
            .product-info {
                position: absolute;
                bottom: 5%;
                width: 100%;
                text-align: center;
                font-family: $font-body;
                .product-title {
                    margin: 0 0;
                    color: $darkGray;
                }
                .product-price {
                    color: $gray;
                }
                div {
                    display: block;
                    margin: auto;
                }
            }
        }
        .views-row-1, .views-row-2{
            width: 30%;
            .product-title {
                font-size: 1.8em;
            }
        }
        .views-row-3, .views-row-4{
            width: 20%;
            .product-title {
                font-size: 1.2em;
            }
        }
        .views-row-5 {
            width: 40%;
            clear: right;
            .product-info {
                text-align: right;
                top: 5%;
                right: 5%;
                bottom: auto;
                .product-title {
                    font-size: 1.2em;
                }
            }
            .product-img {
                display: block;
            }
        }
    }
}
@media (max-width: $breakpoint-smallLaptop) {
    #shop {
        .view-content {
            margin: 0 40px;
            .views-row-1, .views-row-2{
                .product-title {
                    font-size: 1.2em;
                }
            }
            .views-row-3, .views-row-4{
                .product-title {
                    font-size: 0.8em;
                }
            }
        }
    }
}
@media (max-width: $breakpoint-tablet) {
    #shop {
        .view-content {
            @include flexbox;
            @include flex-wrap(wrap);
            @include justify-content(space-around);
            margin: 0 10px;
            .views-row {
                float: none;
                width: 40%;
                margin: 0;
                margin-bottom: 30px;
                .product-img {
                    margin: 0;
                }
            }
            .views-row-3, .views-row-4{
                .product-title {
                    font-size: 1.2em;
                }
            }
            .views-row-5 {
                width: 90%;
            }
        }
    }
}
@media (max-width: $breakpoint-mobileLP) {
    #shop {
        .view-content {
            margin: 0;
            .views-row {
                width: 80%;
            }
        }
    }
}
