#webformsubscribe {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/sites/all/themes/weathered_notebooks/bkg-images/Subscribe_Backdrop.jpg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;

    .single-page {
        padding: 40px 60px;

        .node-20 {
            @include zen-grid-container();
            .field {
                @include zen-grid-item(3, 1);
                .field-item {
                    // margin-left: 60px;
                    h2 {
                        margin: 0;
                        padding-top: 20px;
                        font-weight: 300;
                        font-size: 2.5em;
                    }
                    p {
                        font-family: $font-body;
                    }
                }
            }
            .webform-client-form {
                @include zen-grid-item(2, 4);
            }
        }
    }
    .webform-submit {
        width: 100%;
    }
}
