#webformsubscribe {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/sites/all/themes/weathered_notebooks/bkg-images/Subscribe_Backdrop.jpg");
    background-size: 100% auto;
    background-clip: border-box;
    background-position: center center;
    color: white;
}
