#webformsubscribe {
    background: linear-gradient(
      rgba(0, 0, 0, 0.55),
      rgba(0, 0, 0, 0.55)
    ),
    url("/sites/all/themes/weathered_notebooks/bkg-images/Subscribe_Backdrop.jpg");
    background-size: 100% auto;
    background-clip: border-box;
    background-position: center center;
    color: white;

    .single-page {
        padding: 40px 0;

        .node-20 {
            @include zen-grid-container();
            .field {
                @include zen-grid-item(3, 1);
                .field-item {
                    margin-left: 60px;
                    h2 {
                        font-family: $didactGothic;
                    }
                }
            }
            .webform-client-form {
                @include zen-grid-item(2, 4);
            }
        }
    }
}
