#videomainvideo {
    .field-item {
        padding: 60px 10%;
    }
    .embedded-video .player {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    }

    .embedded-video .player iframe,
    .embedded-video .player object,
    .embedded-video .player embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    }
}
