h1, h2, h3, h4, h5, h6, p, a, ul, li {
    font-family: Georgia;
}
h1 {
    font-size: 30px;
    font-weight: bold;
}
h2 {
    font-size: 25px;
}
h3 {
    font-size: 22px;
}
h4 {
    font-size: 20px;
}
h5 {
    font-size: 20px;
}
h6 {
    font-size: 16px;
}
p {
    font-size: inherit;
}
a {
    font-size: inherit;
}
