/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 */
/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/partials/_global.scss */
h1, h2, h3, h4, h5, h6, p, a, ul, li {
  font-family: Georgia;
}

/* line 4, ../sass/partials/_global.scss */
h1 {
  font-size: 30px;
  font-weight: bold;
}

/* line 8, ../sass/partials/_global.scss */
h2 {
  font-size: 25px;
}

/* line 11, ../sass/partials/_global.scss */
h3 {
  font-size: 22px;
}

/* line 14, ../sass/partials/_global.scss */
h4 {
  font-size: 20px;
}

/* line 17, ../sass/partials/_global.scss */
h5 {
  font-size: 20px;
}

/* line 20, ../sass/partials/_global.scss */
h6 {
  font-size: 16px;
}

/* line 23, ../sass/partials/_global.scss */
p {
  font-size: inherit;
}

/* line 26, ../sass/partials/_global.scss */
a {
  font-size: inherit;
}

/* line 29, ../sass/partials/_global.scss */
.img-responsive {
  max-width: 100%;
}

/* line 32, ../sass/partials/_global.scss */
.link-btn {
  text-decoration: none;
  border: 10px solid;
  border-radius: 10px;
  padding: 25px 30px;
}

/* line 2, ../sass/partials/_menus.scss */
.menu--main .menu {
  display: flex;
  justify-content: center;
}
/* line 5, ../sass/partials/_menus.scss */
.menu--main .menu li {
  width: 100px;
}

/* line 1, ../sass/partials/_front-page.scss */
.header-title {
  position: absolute;
  width: 100%;
  top: 80px;
  text-align: center;
}

/* line 7, ../sass/partials/_front-page.scss */
.kickstarter-btn {
  position: absolute;
  width: 100%;
  top: 550px;
  text-align: center;
}
/* line 12, ../sass/partials/_front-page.scss */
.kickstarter-btn a {
  display: inline-block;
  color: white;
  border-color: white;
  font-size: 30px;
  background-color: transparent;
}

/* line 20, ../sass/partials/_front-page.scss */
#block-infoexcerpt1 {
  display: flex;
  justify-content: center;
}
/* line 23, ../sass/partials/_front-page.scss */
#block-infoexcerpt1 .field--name-body {
  width: 66%;
}
/* line 26, ../sass/partials/_front-page.scss */
#block-infoexcerpt1 img {
  width: 200px;
  height: auto;
  margin: 40px;
}

/* line 34, ../sass/partials/_front-page.scss */
.view-field-field-jssor-slider img {
  width: 100%;
}

/* line 13, ../sass/styles.scss */
html, body {
  width: 100%;
}
